.your-posts {
  margin-bottom: 10em;
  &__header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2em;
    &__banner {
      position: absolute;
      top: 0;
    }
    &__avatar {
      width: 7em;
      height: 7em;
      object-fit: cover;
      border-radius: 100px;
      border: 5px solid rgb(154, 167, 242);
      box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.2);
      z-index: 1;
    }
    &__name {
      z-index: 1;
    }
    &__edit {
      color: black;
      font-size: 0.8rem;
      cursor: pointer;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      z-index: 1;
    }
  }

  &__body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5em 3em;
    margin-top: 3em;
    &__your-post {
      width: 22em;
      height: 15em;
      &__image-container {
        border-radius: 10px;
        background-color: var(--white);
        cursor: pointer;
        &:hover {
          box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.4);
        }
        &__image {
          width: 22em;
          height: 15em;
          border-radius: 10px;
          object-fit: cover;
        }
      }

      &__v-divider {
        border-left: 1px solid var(--grey-15);
        height: 15px;
        margin: 0 0.5em;
      }
    }
  }

  &__no-data {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5em 3em;
    &__uploading-box {
      background-color: var(--white);
      width: 28em;
      height: 20em;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 3px;
      border: 2px dashed #e7e7e9;
      padding: 0 1em;
      &__subtitle {
        text-align: center;
      }
      &__upload-btn {
        background: var(--bg-primary-2);
        padding: 0.5em 3em;
        border-radius: 10px;
        margin-left: 1.5rem;
        border: none;

        &:hover {
          background-color: var(--primary);
          color: var(--white);
        }
      }
    }

    &__place-holder-box {
      width: 28em;
      height: 20em;
      border-radius: 3px;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.05) 0%,
        transparent 100%
      );
    }
  }
}
