@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
  --primary: #fe2c55;
  --black: #000;
  --white: #fff;
  --text-color: #161823;
  --bg-main: #f5f5f5;

  // Default layout
  --default-layout-header-height: 56px;
  --default-layout-width: 1150px;

  // space
  --space-header: 2rem;

  //size screen
  --min-height: 110vh;
}

body {
  font-family: 'Roboto', sans-serif;
  // min-height: var(--min-height);
  color: var(--black);
  height: 100%;
  font-size: 14px;
}
#root {
  height: 100%;
}
