.default-layout {
  margin: 0;
  height: 100%;
  width: 100%;
  .main {
    margin-top: var(--default-layout-header-height);
    background-color: var(--bg-main);
    height: 100%;
    padding: var(--space-header);
  }
}
