.auth-layout {
  position: relative;
  height: 100%;

  &__logo {
    position: absolute;
    top: 1rem;
    left: 2rem;
  }
  &__left {
    background: linear-gradient(142.45deg, #7cdfff 4.18%, #92fe9e 108.5%);
  }
  &__left,
  &__right {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  :global(.ant-image) {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  .image {
    max-height: 300px;
    object-fit: cover;
    position: relative;
    &--left {
      &::before {
        position: absolute;
        bottom: 0;
        left: 0;
        content: '';
        height: 100px;
        border-bottom: 1px solid black;
        padding-right: 100% + 100%;
      }
    }
  }

  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--white);
    min-height: 550px;
    width: 450px;
    z-index: 999;
    box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.08);
    border-radius: 30px;
    padding: 3rem 2rem;
  }
}
