.header {
  height: var(--default-layout-header-height);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--bg-second);
  box-shadow: 1px 1px 2px rgb(0 0 0 / 20%);
  display: flex;
  align-items: center;
  padding: 0 2rem;
  transition: top 0.35s ease-out;
  z-index: 99999;
  &__logo {
    font-size: 1.2rem;
    font-weight: bold;
  }
}
.header-hidden {
  top: calc(var(--default-layout-header-height) * -1 + 10px);
  transition: height 0.5s ease-out;
}
