.header {
  height: var(--default-layout-header-height);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--white);
  box-shadow: 1px 1px 2px rgb(0 0 0 / 20%);
  display: flex;
  align-items: center;
  padding: 0 2rem;
  transition: top 0.35s ease-out;
  z-index: 99999;

  &__notification-dropdown {
    min-width: 25em;

    :global(.ant-tooltip-arrow-content) {
      --antd-arrow-background-color: var(--white);
    }

    &__content {
      color: black;

      max-height: 30em !important;
      overflow-y: auto;

      &__tab {
        padding: 0.3em 1em;
        border-radius: 10px;
        cursor: pointer;
        &--active {
          background-color: var(--light-blue-1);
          color: var(--white);
          font-weight: 500;
        }
      }
    }
  }
  &__user-dropdown {
    z-index: 999999 !important;
    width: 14em;

    &__item {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0.5em 2rem;
      color: var(--grey-5);

      &__last-item {
        border-bottom: 0.5px solid var(--grey-17);
      }

      &__icon {
        color: var(--grey-21);
      }

      &:hover {
        color: var(--black);
        .header__user-dropdown__item__icon {
          color: var(--black-3);
        }
      }
    }
    :global(.ant-dropdown-menu) {
      border-radius: 5px;

      :global(.ant-dropdown-menu-item) {
        padding: 0;
      }
    }
  }

  a {
    text-decoration: none;
  }
  &__logo {
    display: flex;
    flex-direction: row;

    &__icon {
      margin-right: 0.5em;
    }

    &__name {
      font-size: 1.8rem;
      font-weight: bold;
    }
  }

  &__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 25rem;
    margin-left: 5rem;

    &__item {
      font-size: 1.1rem;
      color: var(--black-1);
      text-decoration: none;

      &__active {
        background: linear-gradient(
          180deg,
          #7cdfff 0%,
          #83e8e2 46.88%,
          #92fe9e 100%
        );

        font-weight: bold;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      &:hover {
        color: var(--primary);
      }
    }

    &__dot {
      height: 4px;
      width: 4px;
      background-color: var(--black-1);
      border-radius: 50%;
      display: inline-block;
    }
  }

  &__right {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    .search-wrapper {
      align-items: center;
      background-color: var(--bg-second);
      border-radius: 10px;
      display: flex;
      height: 2.75rem;
      padding: 0 1rem;
      position: relative;
      transition: width 0.5s;
      width: 200px;

      &--active {
        width: 300px;
        .search-icon {
          margin-right: 0.5rem;
        }
      }

      .search-input {
        color: var(--system-text-black-color);
        border: none;
        font-size: 1.1rem;
        background-color: var(--bg-second);
        outline: none;
      }

      .search-result {
        background-color: var(--white);
        border-radius: 5px;
        box-shadow: varI(--box-shadow-post);
        height: 20rem;
        left: 0;
        overflow: overlay;
        overflow-y: auto;
        position: absolute;
        top: 4rem;
        width: 100%;
        z-index: 999;

        &-item {
          color: var(--system-text-black-color);
          cursor: pointer;
          font-size: 1.2rem;
          padding: 1rem;
          padding-top: 1rem;

          &-icon {
            height: 2rem;
          }

          span {
            color: #aeb0b3;
            font-size: 1.1rem;
            margin-left: 2rem;
          }

          &:hover {
            background-color: var(--dropdown-background-color-hover);
          }
        }

        &-empty {
          align-items: center;
          display: flex;
          flex-direction: column;
          font-size: 1.2rem;
          justify-content: center;
          padding: 2rem 1rem;

          a {
            background-color: var(--system-text-white-color);
            border: none;
            border: 1px solid var(--primary);
            border-radius: 5px;
            color: var(--primary);
            font-size: 1.1rem;
            margin-top: 1rem;
            outline: none;
            padding: 0.5rem;
            text-decoration: none;

            &:hover {
              background-color: var(--primary);
              color: var(--system-text-white-color);
            }
          }
        }
      }

      ::-webkit-scrollbar {
        height: 5px;
        width: 10px;
      }

      ::-webkit-horizontal,
      ::-webkit-scrollbar {
        background-color: #fff;
        height: 6px;
        padding: 0;
        width: 6px;
      }

      ::-webkit-scrollbar-thumb {
        background-color: #6217dc38;
        border-radius: 4px;
        box-shadow: inset 0 0 4px rgb(0 0 0 / 5%);
        width: 6px;
      }
    }

    &__upload-btn {
      background: var(--bg-primary-2);
      padding: 0.5em 3em;
      border-radius: 10px;
      margin-left: 1.5rem;
      border: none;

      &:hover {
        background-color: var(--primary);
        color: var(--white);
      }
    }
  }
}
.header-hidden {
  top: calc(var(--default-layout-header-height) * -1 + 10px);
  transition: height 0.5s ease-out;
}
