.reply-comment-container {
  border: solid 1px var(--grey-6);
  border-radius: 5px;
  padding: 0.1em 0.1em 0.2em 0.5em;
  width: 80%;
  &__user-name {
    color: var(--black);
    margin-right: 0.4em;
    font-weight: 600;
    font-size: 0.8rem;
  }

  &__comment-date {
    color: var(--black-opacity-70);
    font-size: 0.7rem;
  }

  &__comment-content {
    font-weight: 300;
    font-size: 0.8rem;
  }
}
